body {
    font-family:'Open Sans', sans-serif;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(156, 111, 156), rgb(54, 186, 196));
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}
.card{
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    border-radius: 4px;
    overflow: hidden;
    margin: 5px;
}
.card-header {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: rgb(255, 0, 0) 1px solid;
    background-color: rgb(212, 74, 74);
    padding: 5px 10px;
}
.card-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    background: rgb(161, 153, 153);
}
.material-icons {
    font-size: 36px;
    color: rgb(73, 7, 16);
    margin-bottom: 5px;
}
.main-description {
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: center;
}

/** Id til særlige farver på de lige rækker */
#or-border {
    border-color: rgb(255, 166, 0);
    
}
#or-header{
    background-color: rgb(241, 238, 43);
    border-color: gold;
    color: black;
}
#or-color{
    color: rgb(0, 0, 0);
}

#or-bordertwo{
    border-color: rgb(62, 192, 10);
}
#or-headertwo{
    background-color: rgb(64, 184, 34);
    border-color: rgb(21, 255, 0);
    color: rgba(4, 20, 1, 0.664);
}
#or-colortwo{
    color: rgb(0, 0, 0);
}